@charset "UTF-8";
body {
    color: #191919;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 25px;
    background-image: url("images/bokeh.jpg");
    
    background-size: cover;
}
#container {
	
	width: 1260px;
	height: auto;
	background-color: white;
	margin: auto;
}
header {
    width: 1280px;
    height: 250px;
    background-color: white;
    background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
main {
    width: 1100px;
    background-color: white;
    float: left;
}
h1{
	font-family: sarina,sans-serif;
font-weight: 400;
font-style: normal;	
}
h2{
	font-family: sarina,sans-serif;
font-weight: 400;
font-style: normal;
}
h3 {
    font-size: 17px;
    padding-top: 10px;
}
main article p {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
main article h1 {
    color: #6BE8FF;
}
footer {
    width: 1280px;
    height: 50px;
    background-color: white;
    clear: both;
}body aside {
    width: 150px;
    height: 600px;
    background-color: white;
    float: left;
}
aside {
    height: 1200px;
    background-color: #7C7C7C;
}
#container aside {
    background-color: #ACACAC;
    height: 1500px;
}
#container footer {
    background-color: #ACACAC;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatleft {
	float:left;
}
article {
    margin-bottom: 30px;
}
p{
	font-family: lato,sans-serif;
font-weight: 400;
font-style: italic;
}
nav {
    width: 1259px;
    height: 50px;
    margin: auto;
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
}
#container nav li {
    display: block;
    list-style-type: none;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 40px;
    margin-bottom: 0px;
    float: left;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    word-spacing: 71px;
    right: 0px;
}
#container nav ul {
    width: 800px;
}
nav a:link {
    color: #750DC7;
    text-decoration: none;
	padding: 10px;
}
nav a:visited {
    text-decoration: none;
    color: #D4D001;
}
nav a:hover {
    text-decoration: none;
    color: #06ECEF;
	background-color: black;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #FF0004;
}.submit_btn {
    width: 170px;
    background-color: #D3272A;
    border-radius: 10px;
    height: 30px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-size: 18px;
    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}

.submit_btn:hover {
    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;	
}
#container main {
}
.column {
    width: 346px;
    height: 750px;
    float: left;
}
body {
}
/*rules the page will follow for tablet-sized decives*/

@media (max-width: 1024px) {
	#container {
		width: 768px;
	}	
	header {
		width: 768px;
	}
	nav {width:768px
	}
	main {width:598px
	}
	footer{width:768px
	}
	.column {
    margin-top: 0px;
    margin-right: 34px;
    margin-left: -46px;
    margin-bottom: 0px;
	}
}
/*Rules the page will follow on mobile devices*/
@media only screen and (max-width:375px){
	#container {
		width: 300px;
	}	
	header {
		width: 300px;
		background-image: url()
	}
	nav {width:300px;
		height: 200px;
		position: static;
	}
	main {
    width: 300px;
    margin-right: 0px;
    margin-top: 56px;
    margin-left: 0px;
	}
	footer{width:300px
	}
	aside{
		display:none
	}
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #65EBFB;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}

	}
